<%- include("./header.ejs")%>
  
<h1>About</h1>
<h2>Group 44</h2>
<p>Name: Jacob Landefjäll and Linn Christiansson</p>
<p>We worked together to succeed with the task kmom06</p>


<%- include("./footer.ejs")%>