<%- include("./header.ejs")%>
  
<h1> Welcome to our eshop!</h1>
<p> Take a look at our products <a href="/eshop/product">Here</a></p>
<p> Our categorys can you see here <a href="/eshop/category">categories</a></p>
<p> Here can you see our products with their name, price and quantity <a href="/eshop/product"> products</a></p>
<p> Make an order. Here can you see your order details <a href="/eshop/order">Order</a></p>
<p> You can see more on our terminalprogram</p>
<%- include("./footer.ejs")%>   